[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dotvim/bundle/ctrlp"]
	path = dotvim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dotvim/bundle/matchit"]
	path = dotvim/bundle/matchit
	url = git@github.com:vim-scripts/matchit.zip.git
[submodule "dotvim/bundle/vim-commentary"]
	path = dotvim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotvim/bundle/ack"]
	path = dotvim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotvim/bundle/auto-pairs"]
	path = dotvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dotvim/bundle/vim-javascript"]
	path = dotvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotvim/bundle/vim-jsx"]
	path = dotvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dotvim/bundle/vim-virtualenv"]
	path = dotvim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "dotvim/bundle/scss-syntax"]
	path = dotvim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "dotvim/bundle/python-syntax"]
	path = dotvim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/vim-mustache-handlebars"]
	path = dotvim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "dotvim/bundle/vim-elixir"]
	path = dotvim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "dotvim/bundle/vim-elm"]
	path = dotvim/bundle/vim-elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "dotvim/bundle/vim-jinja2"]
	path = dotvim/bundle/vim-jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "dotvim/bundle/vim-repeat"]
	path = dotvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/vim-unimpaired"]
	path = dotvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/vim-editorconfig"]
	path = dotvim/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "dotvim/bundle/neoformat"]
	path = dotvim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "dotvim/bundle/vim-move"]
	path = dotvim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
